/*COLOR*/
.c-grey{
  color: $color_grey;
}
.c-black{
  color: $color_black;
}
/*Margin*/
//BOTTOM
.mb-20{
  margin-bottom: 2rem;
}
.mb-25{
  margin-bottom: 2.5rem;
}


/*Text*/
.text-center{
  text-align: center;
}