.layout-header {
  background-color: $color_white;
  position: relative;
  height: 56.9rem;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: $color_white;
    padding-left: 8.5rem;
    padding-right: 8.5rem;
    .header__links-wrapper {
      z-index: 1;
      .header__links-navigation {
        padding-left: 2rem;
        padding-right: 2rem;
        .header__links-navigation--ul {
          height: 8rem;
          display: flex;
          align-items: center;
          .header__links-navigation--li {
            position: relative;
            &:not(:last-child) {
              margin-right: 5.35rem;
            }
          }
        }
      }
    }
    .header__language-selector-wrapper {
      height: 8rem;
      display: flex;
      align-items: center;
      z-index: 1;
      .header__language-selector {
        min-width: 2.5rem;
        text-align: center;
        position: relative;
        cursor: pointer;
        .header__language-selected-language{
          &:hover{
            & ~ .header__language-dropdown{
              transform: translateY(0) translateX(-50%);
              opacity: 1;
              visibility: visible;
            }
          }
        }
        .header__language-dropdown {
          background-color: $color_light_grey;
          position: absolute;
          top: 3.7rem;
          left: 50%;
          width: 4rem;
          transform: translateY(-4rem) translateX(-50%);
          visibility: hidden;
          opacity: 0;
          transition: ease-out 300ms;
          transform-origin: center top;
          &:hover{
            transform: translateY(0) translateX(-50%);
            opacity: 1;
            visibility: visible;
          }
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: 100%;
            left: 0;
          }
          .header__language-dropdown-wrapper {
            .header__language-dropdown-element {
              text-align: center;
              transition: all 100ms;
              a{
                display: block;
              }
              &:hover {
                background-color: $color_primary;
                span {
                  color: $color_white;
                }
              }
            }
          }
        }
      }
    }
    .header__video-wrapper {
      position: absolute;
      top: 8rem;
      left: 8.5rem;
      width: calc(100% - 8.5rem);
      height: 56.4rem;
      .header__video {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .header__video-text-wrapper {
        position: absolute;
        top: 50%;
        left: 12rem;
        max-width: 50rem;
        transform: translateY(-50%);
        .header__video-text {
          font-size: 5.2rem;
          line-height: 6.5rem;
          color: $color_white;
          font-weight: 400;
        }
      }
      .header__video-sound-wrapper {
        position: absolute;
        bottom: 11.2rem;
        left: 12.3rem;
        width: 2.9rem;
        height: 2.2rem;
        cursor: pointer;
        .header__video-sound {
          &.muted {
            display: block;
            img {
              width: 2.62rem;
            }
          }
          &.unmuted {
            display: none;
            img {
              width: 2.9rem;
            }
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        &.active {
          .header__video-sound {
            &.muted {
              display: none;
            }
            &.unmuted {
              display: block;
            }
          }
        }
      }
    }
  }
}

/*Responsivness*/
@include res('lg') {
  .layout-header {
    .header__wrapper {
      .header__links-wrapper {
        width: 100%;
        .header__links-navigation {
          padding-left: 1rem;
          padding-right: 0.5rem;
          .header__links-navigation--ul {
            justify-content: space-between;
            .header__links-navigation--li {
              &:not(:last-child) {
                margin-right: 1.3rem;
              }
            }
          }
        }
      }
    }
  }
}

@include res('md') {
  .layout-header {
    .header__wrapper {
      padding-left: 0;
      padding-right: 0;
      .header__links-wrapper {
        display: none;
      }
      .header__language-selector-wrapper{
        display: none;
      }
      .header__video-wrapper{
        top: 0;
        left: 0;
        width: 100%;
        height: 57rem;
        .header__video-text-wrapper {          
          top: 50%;
          left: 50%;
          max-width: 30rem;
          width: 100%;
          text-align: center;
          transform: translateX(-50%) translateY(-50%);
          padding-left: 2rem;
          padding-right: 2rem;
          background-color: rgba($color: $color_black, $alpha: 0.3);
          .header__video-text {
            font-size: 2.5rem;
            line-height: 2.5rem;            
          }
        }
        .header__video-sound-wrapper {
          bottom: 2rem;
          left: 2.7rem;
        }
      }
    }
  }
}
